Source: mamolinux-wallpapers
Section: x11
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://hsbasu.github.io/mamolinux-wallpapers
#Vcs-Browser: https://salsa.debian.org/debian/mamolinux-wallpapers
#Vcs-Git: https://salsa.debian.org/debian/mamolinux-wallpapers.git
Rules-Requires-Root: no

Package: mamolinux-wallpapers
Architecture: all
Section: metapackages
Depends: mamolinux-wallpapers-common,
         mamolinux-wallpapers-mantic,
         ubuntu-wallpapers-mantic,
         ${misc:Depends}
Description: Wallpapers for MamoLinux
 Contains backgrounds for desktop, login-screen
 and grub to be used by MamoLinux

Package: mamolinux-wallpapers-common
Architecture: all
Depends: ${misc:Depends}
Description: Common Wallpapers for MamoLinux
 Contains common backgrounds for desktop, login-screen
 and grub to be used by all MamoLinux versions

Package: mamolinux-wallpapers-jammy
Architecture: all
Depends: ${misc:Depends}
Description: Wallpapers for MamoLinux
 Contains backgrounds for desktop, login-screen
 and grub to be used by MamoLinux 22.04

Package: mamolinux-wallpapers-lunar
Architecture: all
Depends: ${misc:Depends}
Description: Wallpapers for MamoLinux
 Contains backgrounds for desktop, login-screen
 and grub to be used by MamoLinux 23.04

Package: mamolinux-wallpapers-mantic
Architecture: all
Depends: ${misc:Depends}
Description: Wallpapers for MamoLinux
 Contains backgrounds for desktop, login-screen
 and grub to be used by MamoLinux 23.10
